
<div class="container">
    <div style="padding-top: 60px;">	
      <form>
          <div style="padding-bottom: 10px;">
            <label><strong>IP Number : </strong></label>
            <input type="text" style="margin:10px">
            <input class="btn btn-primary" type="submit" value="Fetch Bill">
          </div>
      </form>
    </div>

<div style="margin-bottom: 50px;">

  <div class="card" style="border-top: 2px solid blue;">
      <div class="card-header">
        <h5><strong>{{title}}</strong></h5>
      </div>
      <div class="card-body">
        <mat-grid-list cols="3" rowHeight="3:1" gutterSize="10px">
          <mat-grid-tile *ngFor="let element of details">
            <p>{{element}} : </p>
            <br>
            <input matInput type="text" class="light-grey">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
  </div>
</div>