<div>
    <div class="card" style="border-top: 2px solid blue;">
        <div class="card-header">
          <div><h5><strong>BILL DETAILS : </strong></h5></div>
          <h6><strong>Bill no : {{billNo}} <h6 style="float: right;"><strong>Date : {{date}} {{time}}</strong></h6></strong></h6>
        </div>
        <div class="container" style="padding:25px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><strong>Date</strong></th>
                        <th><strong>HeaderName</strong></th>
                        <th><strong>ServiceName</strong></th>
                        <th><strong>Quantity</strong></th>
                        <th><strong>TotalServiceRate</strong></th>
                        <th><strong>ConcessionAmt</strong></th>
                        <th><strong>Edit</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData;index as i" class="hover-highlight">
                        <td><span *ngIf="enableEditIndex != i">{{row.date}}</span><input type="text" [(ngModel)]="row.date" *ngIf="enableEdit && enableEditIndex == i"/></td>
                        <td><span *ngIf="enableEditIndex != i">{{row.headerName}}</span><input type="text" [(ngModel)]="row.headerName" *ngIf="enableEdit && enableEditIndex == i"/></td>
                        <td><span *ngIf="enableEditIndex != i">{{row.serviceName}}</span><input type="text" [(ngModel)]="row.serviceName" *ngIf="enableEdit && enableEditIndex == i"/></td>
                        <td><span *ngIf="enableEditIndex != i">{{row.qty}}</span><input type="text" [(ngModel)]="row.qty" *ngIf="enableEdit && enableEditIndex == i"/></td>
                        <td><span *ngIf="enableEditIndex != i">{{row.totalServiceRate}}</span><input type="text" [(ngModel)]="row.totalServiceRate" *ngIf="enableEdit && enableEditIndex == i"/></td>
                        <td><span *ngIf="enableEditIndex != i">{{row.concessionAmt}}</span><input type="text" [(ngModel)]="row.concessionAmt" *ngIf="enableEdit && enableEditIndex == i"/></td>
                        <td>
                            <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false; cancel()" class="btn btn-outline-primary page-secondary-action-btn" >CANCEL</button>
                            <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn btn-outline-primary page-primary-action-btn" (click)="saveSegment()" type="submit">SAVE</button>
                            <a href="#" class="table-row-action edit-action" *ngIf="i != enableEditIndex || enableEditIndex == null" (click)="enableEditMethod($event, i)">EDIT</a>
                        </td>               
                    </tr>
                </tbody>
            </table>
            <h6><strong>Total : {{total}}<h6 style="float: right;"><strong>Payable : {{payable}}</strong></h6></strong></h6>
        </div>    
    </div>
</div>
