<h2 mat-dialog-title>EDIT : </h2>
<mat-dialog-content>
    <form mat-form-field class="normal-form">
        <div>
            <input matInput placeholder="HeaderName"><br>
        </div>
        <div>
            <input matInput placeholder="ServiceName"><br>
        </div>
        <div>
            <input matInput placeholder="Qty"><br>
        </div>
        <div>
            <input matInput placeholder="TotalServiceRate"><br>
        </div>
        <div>
            <input matInput placeholder="ConcessionAmount"><br>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div>
        <button class="btn btn-primary" mat-dialog-close>SUBMIT</button>
    </div>
    <div>
        <button class="btn btn-primary" mat-dialog-close>Cancel</button>
    </div>
</mat-dialog-actions>